/#innodb_redo/
/#innodb_temp/
/mysql/
/performance_schema/
/#ib_16384_0.dblwr
/#ib_16384_1.dblwr
/auto.cnf
/ca.pem
/ca-key.pem
/ib_buffer_pool
/ibdata1
/mysql.ibd
/undo_001
/undo_002
/private_key.pem.temp
/mysql.sock
/binlog.index
/binlog.000002
/binlog.000001
